
<div id="carousel-example-generic" class="my-carousel carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% for (let i = 0; i < routeCount; i++) { %>
        <li data-target="#carousel-example-generic" data-slide-to="<%=i%>" <% if (i == 0) {%>class="active"<% } %>></li>

    <% } %>

  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

    <% for (let i = 0; i < routeCount; i++) { %>

        <div class="item <% if (i == 0) {%>active<% } %>">
        <!-- mapApiUrl div -->
        <div class="text-center map-div" id="map<%=i + 1%>_div"><img class="map" src="<%= encodeURI(mapDetails.staticMap[i])%>" /></div>
        <!-- elevationData chart -->
        <div class="text-center elev-chart" id="chart<%=i + 1%>_div"></div>
        <!-- Distance / Change in Elevation / Time div -->
        <div class="carousel-caption caption">
            <h3>Route <%=i + 1%></h3>
            <ul>
                <li class="carousel-list">Distance: <span class="distance-result-<%=i + 1%>"><%=mapDetails.directionsData.routes[i].legs[0].distance.text%></span></li>
                <li class="carousel-list">Time: <span class="time-result-<%=i + 1%>"><%=mapDetails.directionsData.routes[i].legs[0].duration.text%></span></li>
            </ul>
        </div>
    </div>


    <% } %>

  </div>


  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>